#startBtn{
  position: fixed;
  left: 30px;
}

#square {
    display: block;
    float: left;

    width: 150px;
    height: 150px;

    margin-right: 5px;
   background: red;
}
#square_text {
  margin: 0;
  position: relative;
  top: 50%;
  left: 30%;
}